@import "tailwindcss";

::-webkit-scrollbar {
  width: 3px;
  height: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #d1d5db;
  border-radius: 9999px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

body {
  padding-bottom: 4rem;
}

@media (min-width: 768px) {
  body {
    padding-bottom: 0;
  }
}